body {
  background-color: #FFF;
  font: normal 15px Arial, Verdana, Helvetica, sans-serif;
  color: #333;
}

form {
    margin-bottom: 10px;
}
form input, textarea {
  margin: 1px;
}
form input[type='text'], textarea {
  border: 1px solid #999;
  width: 60%;
}
form input[type='submit'] {
  cursor: pointer;
}

#content {
    height: auto;
    width: auto;
    padding: 60px 6%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #999;
    padding: 0 6px;
}

